<style>
@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans');
</style>
<font face="Open Sans">
%span.title <font color="white">Safetynet</font> <font color="orange">IT</font>

%div.content
  - if @password.expired
    %p
      We apologize but...
    %div.payload
      This secret link has expired.
    %p
      - if @password.deleted
        This secret link was manually expired by one of its viewers and the password has been deleted from the Password database.
      - elsif @password.views_remaining == 0
        == The secret link has hit its maximum view count (#{@password.expire_after_views}) and the password has been deleted from the PasswordPusher database.
      - elsif @password.days_remaining == 0
        == The secret link has hit its maximum age (#{@password.expire_after_days} days) and the password has been deleted from the PasswordPusher database.

  - else
    - if @first_view
      .share_note
        == This is your password.  Use this secret link to share it:
        %p.url
          %div.input_group
            %input#url{ :value => "#{request.url}", :spellcheck => "false", :onfocus => '$(this).focus(); $(this).select();', :onclick => '$(this).select();', :readonly => true }
            %button.btn{ "data-clipboard-target" => "#url" }
              = image_tag('button_up.png')
        %span.note
          This note won't be shown again...
          %br/
          
    %p
      /*Your password is...

    %div.payload.spoiler<
      = @payload

    %p.pwinstructions
      Please click the blurred image above to retrieve your new password.<br>
      <font size="4">Contact support@safetynet-it.com for further support.</font>

    %p
      - if @password.views_remaining == 0
        == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')} or #{@password.views_remaining} more views (this is the last view).
      - else
        == This secret link will be deleted in #{pluralize(@password.days_remaining, 'day')}
        == or #{pluralize(@password.views_remaining, 'more view')} (whichever occurs first).
    - if @password.deletable_by_viewer
      %p{ :style => 'font-size: .85em;' }
        = link_to "Click here to delete this link immediately.", password_path, :id => @password.url_token, :method => :delete, :data => { :confirm => 'This will expire this secret link and remove the password from the PasswordPusher database forever.  Are you sure?' }
        </font>

